:root {
    --primario: #222;
    --primarioOscuro: #f3f6fd;
    --secundario: #fff201;
    --secundarioOscuro: rgb(120, 120, 120);
    --blanco: #f3f6fd;
    --font-family: 'Roboto', Arial, sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    background-color: #f3f6fd;
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
    display: flex;

}



.sidebar {
    width: 220px;
    background-color: var(--secundarioOscuro);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 5rem;
    border-radius: 6px;
    font-size: 1.3rem;
}

.sidebar h2 {
    font-size: 18px;
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    border-left: 3px solid transparent;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #34495e;
    border-left: 3px solid #3498db;
}

.main {
    flex: 1rem;
    padding: 3rem;
    background: var(--blanco);
}

main h1 {
    margin-bottom: 1rem;
}

.fotoContainer {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.foto_Perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.foto_Perfil div {
    width: 120px;
    height: 120px;
    background: #bdc3c7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7f8c8d;
    font-size: 14px;
    cursor: pointer;
}

.form-g {
    margin-bottom: 15px;
}

.form-g label {
    display: block;
    margin-bottom: 5px;
}

.form-g input,
.form-g textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-g textarea {
    resize: vertical;
}







.footer {
    background-color: var(--secundarioOscuro);
    color: var(--blanco);
    padding: 0.1rem 0;
    margin-top: 2rem;
    border-radius: 14px;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 1.5rem;
}